ansible_user: "${ cacao_user }"
tgwui_version: "${ tgwui_version }"
tgwui_cli_flags: "${ tgwui_cli_flags }"
tgwui_gpu_enabled: ${ tgwui_gpu_enabled }
tgwui_service_user: "${ cacao_user }"
tgwui_service_group: "${ cacao_user }"